

html {
  font-size: 16px;
}

body {
  color: var(--noc-font-color-base);
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app > div {
  height: 100%;

  & > div {
    height: 100%;
  }
}
